@model E_commerce.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h4>Create Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CategoryId" class="control-label"></label>
                <select asp-for="Product.CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))" class="form-control">
                    <option>Select a category</option>
                </select> 
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.HiddenFor(m => m.Product.Id)
                <input type="submit" value="Save Product" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        //$('#CategoryId').change(function () {
            var url = '@Url.Content("~/")' + "Product/GetCategory";
            //var ddlsource = '#CategoryId';
            $.getJSON(url, function (data) {
                var items = '';
                items += "<option value='" + 0 + "'> Select a category </option>";
                $('#CategoryId').empty();
                $.each(data, function(i, category) {
                    items += "<option value='" + category.value + "'>" + category.text + "</option>";
                });
                $('#CategoryId').html(items);
            });
        //});
    })
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
